:root {
  --pokedex-black: hsl(0, 0%, 17.25%);
  --pokedex-blue: hsl(232.87, 65%, 38%);
  --pokedex-cyan: hsl(191.4, 82.64%, 52.55%);
  --font-family: 'Rubik Variable';

  --pokedex-gray: hsl(0, 0%, 80%);
  --pokedex-green: hsl(142, 76%, 36%);
  --pokedex-navy: hsl(200, 98%, 39%);
  --pokedex-orange: hsl(43, 96%, 56%);
  --pokedex-purple: hsl(271, 81%, 56%);

  --pokedex-red: hsl(343.88, 90.95%, 43.33%);
  --pokedex-tap: hsla(0, 0%, 89.02%, 0.5);
  --pokedex-white: hsl(0, 0%, 89.02%);

  --pokedex-yellow: hsl(48, 96%, 53%);
}
