@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  gap: 0.375rem;

  & input {
    font-family: var(--font-family);
    min-height: 2.625rem;
  }

  & button {
    border: 1px solid var(--pokedex-black) !important;
    max-width: 3.25rem;

    & .is-rotating {
      animation: spin 1s linear infinite;
    }
  }
}
