@import url('styles/_variables.css');
@import url('styles/Banners.css');

:root {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

::selection {
  background: var(--pokedex-black);
  color: var(--pokedex-white);
}

body {
  font-family: var(--font-family), sans-serif !important;
}

section {
  min-height: 100dvh;
}

main {
  background: var(--pokedex-red) !important;
}
