:root {
  --pokedex-black: hsl(0, 0%, 17.25%);
  --pokedex-blue: hsl(232.87, 57.43%, 51.18%);
  --pokedex-cyan: hsl(191.4, 82.64%, 52.55%);

  --pokedex-red: hsl(343.88, 90.95%, 43.33%);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  --pokedex-white: hsl(0, 0%, 89.02%);
  --pokedex-yellow: hsl(52.24, 100%, 50%);
}

section {
  min-height: 100dvh;
}

header,
footer {
  color: var(--pokedex-white);
  user-select: none;

  #pokeball {
    background: linear-gradient(
      to bottom,
      var(--pokedex-red) 0%,
      var(--pokedex-red) 50%,
      var(--pokedex-white) 50%,
      var(--pokedex-white) 100%
    );
    border-radius: 100%;
    color: transparent;
    position: relative;
    text-shadow: none;
    vertical-align: sub;
    width: 1.5rem;

    &::before {
      background: var(--pokedex-black);
      content: '';
      height: 0.125rem;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      background: var(--pokedex-white);
      border: 1px solid var(--pokedex-black);
      border-radius: 50%;
      content: '';
      height: 0.5rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0.5rem;
    }
  }

  & > span {
    color: var(--pokedex-yellow);
    font-weight: bold;

    text-shadow:
      -0.125rem -0.125rem 0 var(--pokedex-blue),
      0.125rem -0.125rem 0 var(--pokedex-blue),
      -0.125rem 0.125rem 0 var(--pokedex-blue),
      0.125rem 0.125rem 0 var(--pokedex-blue);
  }

  & a {
    color: currentColor;
    font-weight: bold;

    @media (hover: hover) {
      &:hover {
        color: var(--pokedex-red);
      }
    }

    & span {
      rotate: 135deg;
      vertical-align: middle;
    }
  }
}

main {
  background: var(--pokedex-red) !important;
}
