@import url('styles/_variables.css');
@import url('styles/Banners.css');
@import url('styles/Features.css');
@import url('styles/Stats.css');
@import url('styles/Types.css');

:root {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

::selection {
  background: var(--pokedex-black);
  color: var(--pokedex-white);
}

body {
  font-family: var(--font-family), sans-serif !important;
}

section {
  min-height: 100dvh;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

main {
  background: var(--pokedex-red) !important;
  max-width: 98%;
  min-width: 21rem;
  width: fit-content;

  @media (min-width: 32rem) {
    width: 30.25rem;
  }
}
